In [1]:
import pandas as pd
import math
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
ice_url = 'http://www.icecream.or.jp/biz/data/expenditures.html'

In [2]:
ice = pd.read_html(ice_url)[0]

In [9]:
hoge= ice.stack()

In [10]:
hoge

0   1    2016年
    2    2017年
    3    2018年
    4    2019年
    5    2020年
         ...
12  1      562
    2      573
    3      537
    4      584
    5      599
Length: 77, dtype: object

In [30]:
ice2016_20=ice.iloc[1:,1:]
ice2016_20.index=np.array(range(12))+1
ice2016_20.columns={2016,2017,2018,2019,2020}
ice2016_20

    2016  2017  2018  2019  2020
1    464   489   507   494   510
2    397   382   416   423   482
3    493   472   607   542   610
4    617   624   746   667   689
5    890   915   894  1000  1040
6    883   914  1021   991  1123
7   1292  1394  1506  1236  1155
8   1387  1370  1443  1513  1658
9    843   826   861   996  1025
10   621   599   640   724   649
11   459   489   492   531   573
12   562   573   537   584   599

In [39]:

ice2016_20_stack=ice2016_20.T.stack().reset_index()
ice2016_20_stack.columns=['year','month','expenditure_yen']
ice2016_20_stack

    year  month expenditure_yen
0   2016      1             464
1   2016      2             397
2   2016      3             493
3   2016      4             617
4   2016      5             890
5   2016      6             883
6   2016      7            1292
7   2016      8            1387
8   2016      9             843
9   2016     10             621
10  2016     11             459
11  2016     12             562
12  2017      1             489
13  2017      2             382
14  2017      3             472
15  2017      4             624
16  2017      5             915
17  2017      6             914
18  2017      7            1394
19  2017      8            1370
20  2017      9             826
21  2017     10             599
22  2017     11             489
23  2017     12             573
24  2018      1             507
25  2018      2             416
26  2018      3             607
27  2018      4             746
28  2018      5             894
29  2018      6            1021
30  2018      7            1506
31  2018      8            1443
32  2018      9             861
33  2018     10             640
34  2018     11             492
35  2018     12             537
36  2019      1             494
37  2019      2             423
38  2019      3             542
39  2019      4             667
40  2019      5            1000
41  2019      6             991
42  2019      7            1236
43  2019      8            1513
44  2019      9             996
45  2019     10             724
46  2019     11             531
47  2019     12             584
48  2020      1             510
49  2020      2             482
50  2020      3             610
51  2020      4             689
52  2020      5            1040
53  2020      6            1123
54  2020      7            1155
55  2020      8            1658
56  2020      9            1025
57  2020     10             649
58  2020     11             573
59  2020     12             599

In [40]:
ice2016_20_stack.to_csv('data/icecream2.csv')