# Lecture1 はじめに
<div dir='rtl'>
2024.4岩政
</div>

ここでは、講義における、python実行環境について説明します
- 実行形式：jupyter notebookを用いたpythonのインタラクティブな実行
- 実行環境：google colabratoryを使い、所定のnotebookを自分のドライブにコピーして利用

最初に実行環境を確認します。そして、notebookを使った、テキスト(markidown)やコード(python)の記述方法について学びます、最後に、データサイエンスの実例を通して、pythonのライブラリを使いながら、インタラクティブにデータの分析や操作、可視化を行う様子を示します。実例に関しては以下を参考にしています。

https://www.dataquest.io/blog/jupyter-notebook-tutorial/

## pythonの実行環境の準備(google colab)

このファイルを開いたら、ドライブにコピーを押すことにより、自分のgoogle colaboratry環境にnotebookがコピーされます
<div>
<img src="https://github.com/miwamasa/DataScience2024/blob/main/notebooks/figures/colab_drive_copy.png?raw=true" width="500"/>
</div

自分のcolaboratry環境にコピーしますと、自分で編集保存ができます。

Google Driveを開くと"マイドライブ＞Colab Notebook"フォルダに、"xxxx_のコピー.ipynb"として一時的に保存されます
<div>
<img src="https://github.com/miwamasa/DataScience2024/blob/main/notebooks/figures/colab_drive_view.png?raw=true" width="500"/>
</div

## juypter notebook(以下notebookと略す)の使い方
- jupyter notebookとは
  - Pythonを、手軽にWebブラウザで実行できる仕組みです、テキストとPythonスクリプトを混ぜて記述できる、グラフで結果を確認できるなど、インタラクティブにPythonを実行し、結果を確認するのに適しています。結果をレポートにするのにも向いています。
- .ipynbファイル、python notebookファイルであることを表します。
- PCにjuypterをインストールする、Google Colaboratryを使う、などの様々な実行環境を使うことができます。
- notebook interfaceについて
- cells：cellという部品でnotebookは構成されます。cell単位で上下に移動もできます。
  - 「コード」cell: pythonコードを含むcell
  - 「テキスト」cell(markdown cell):マークダウン形式のテキスト入力cell
  - cellへの入力後は、SHIFT+enter にてこれを実行できる
## Colaboratoryでの使い方
- Google Colaboratory(colabと略す)は、Googleが提供するjupyter notebook実行環境です。
- colaboratryが動作すると、カーネル（unixシステム+python実行環境)が裏で起動され、notebookとカーネルが接続されて、pythonスクリプト（「コード」cell)を評価できるようになります。
- [ ] コードcellやテキストcellの追加、削除、移動
- [ ] bbb

参考：[【一瞬で準備完了】Google Colaboratory使い方｜即効Python開始！](https://www.yutaka-note.com/entry/5min_python_02)

## 「コード」cellの使い方

In [ ]:
# コードcellでは、コメントは'#'から始まる行です
# コードcellでは、pythonの実行環境がうごきます、Ctr+enterを押すか、左端に見えるプレイボタンを使うか
1233+222

### 「コード」cellでPythonスクリプトを評価
- Pythonスクリプトの一部（極端な話一行毎）に評価できる
- 変数(グローバル変数)はnotebook ページに含まれるすべての「コード」cellから参照・書き込み可能→グローバル変数
- 制御構文など、Pythonの文法に従う（インデントに注意）
- 関数を定義し、別のcellで呼び出すこともできる。
- cellの評価の順番が重要、前の評価結果（代入とか関数定義）が後のcell評価環境に残る。

In [ ]:
# pythonの組み込み関数(print等)が直接使えます
print('Hello World!')

#### いくつかの簡単な注意
- インデント（空白やタブ）に注意

In [ ]:
for i in range(4):
  print(i)

In [ ]:
def say_hello(recipient):
    return 'Hello, {}!'.format(recipient)

say_hello('Tim')

## Markdownの書き方
- テキストcellにはmarkdown形式で入力することができます。
- Colaboratoryを使っていると、テキストcellの上に、テキストフォーマットのメニューが出ます。これらを使ってmarkdown記法を試すことができます。（例：**太字**)

# level 1 の見出しです

## level 2 見出しです

プレーン（普通の）テキストを入力することができます。 テキストに対して装飾 **太字** and __別の太字__, あるいは *italic* とか _italic_　とかを施せます 

パラグラフは、必ず「空行」で区切りをつけます。

* リストは'*'を使います
 * インデント(空白を行頭に挟む）をつけると、階層リストになります。

1. 番号付きリストをかくここともできる. 
2. 番号は勝手に更新されます

[リンクを張ることもできます](https://aiit.ac.jp/)

引用(BlockQuote)はこのように書きます

> これは引用された文章です'>'を行頭に書きます。</br>
> 引用内で改行するときは、'</br>'を行の終わりに追加します
>  > 二重引用もできます
> 
> もとにもどります
> もとにもどります

インラインコードは バッククオート(')でくくります: `foo()`, コードブロックを入れるときはバッククオートを３連続します: 
```
bar()
``` 
あるいは、行頭に４つ空白をつけてもコードブロックになります。: 

    foo()
    
画像もこのように晴れます: ![Alt text](https://scikit-learn.org/stable/_static/scikit-learn-logo-small.png)

## 数式\KaTeXの利用

Markdownでは\KaTeXと呼ばれる、LaTeX風に数式を書くことができます。どのような数式が記述できるかは「[Supported Functions](https://katex.org/docs/supported.html)」をご覧ください。

正規分布：
$$f(x) = \frac{1}{\sqrt{2\pi\sigma^2}}\exp{-\frac{(x-\mu)^2}{2\sigma^2}}$$

ガウス求積：
$$\int_{-\infty}^{\infty} f(x) dx = \sqrt{\pi}$$

行列：
$$
    \boldsymbol{A} =
        \left[\begin{array}{ccc}
            a_{0,0} & \cdots & a_{0,x} \\
            \vdots  & \ddots & \vdots \\
            a_{y,0} & \cdots & a_{y,x} \\
        \end{array}\right]
$$

条件分け：
$$
    % ローマン体にする
    \mathrm{ReLU}(x) =
        \begin{cases}
            x \quad x \geqq 0 \\
            0 \quad x < 0 \\
        \end{cases}
$$

## Kernelとは
Kernelは、notebookの背後にある、pythonスクリプトの評価エンジンです。１つのnotebook(.ipynbファイルの単位)で、変数へのデータ格納状況や、関数定義などを、記憶し、逐次的に（上のセルから下載せるに）

Colabの無償利用では以下の制限があります

>ノートブックは、最大存続時間が最長 12 時間の仮想マシンに接続して実行されます。ノートブックのアイドル状態が長時間続くとタイムアウトし、仮想マシンから切断されます。仮想マシンの最大存続時間とアイドル タイムアウトの動作は将来的に変更される可能性があるほか、使用状況に応じて変わる場合もあります。


### パッケージの導入
pythonではnumpy(数値計算用),pandas(data処理用),scikitlern(機械学習用)などのパッケージを利用します。import文を用います。importできないときは、kernelで指定したpythonの実行環境にそのパッケージがインストールされていない可能性があります

この場合は、コードcellで、以下のように行頭に!を追加して、pythonパッケージのインストールを行います。

> !pip install numpy

In [ ]:
!pip install numpy

numpy(数値計算用)を利用します。

In [ ]:
import numpy as np
def square(x):
    return x * x

In [ ]:
x = np.random.randint(1, 10)
y = square(x)
print('%d squared is %d' % (x, y))

In [ ]:
print('Is %d squared %d?' % (x, y))

In [ ]:
y = 10
print('Is %d squared is %d?' % (x, y))

## notebookを使ったデータ解析の例
- notebookから データ解析でよく使うpandas（データ処理),matplotlib(グラフ描画),seabon(きれいな絵)パッケージをimportしてこれを表示します。(これらのパッケージはColab環境では最初からインストールされてます)
- pandas, matplotlib,seabornは「第4回データの取得と操作」、「第5回データの視覚化」講義で説明しますが、今回はnotebookを使ったデータ解析の雰囲気を試してみます。

In [ ]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

最初の行の、'%matplotlib inline'は、<del>おまじない</del>、matplotlibを使った図の出力をnotebookの出力cellにインラインで出力されます（ポップアップ画面とかではなくてnotebookに埋め込まれる形で出力さえるということ）

pandasを使ってFortune500データ(csvファイル)をDataFrameというデータ構造に読み込みます。DataFrameの内容は変数名'df'として格納されます。

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/miwamasa/DataScience2024/main/notebooks/data/fortune500.csv')

:

DataFrame dfの最初の５行だけ表示、コラム名が見えます

In [ ]:
df.head()

dfの最後の５行を表示します。

In [ ]:
df.tail()

ここでコラム名を、強制的に変更します(かっことかあってめんどくさいので)

In [ ]:
df.columns = ['year', 'rank', 'company', 'revenue', 'profit']
df.head()

何行あるかはlenで数えます

In [ ]:
len(df)

各々のコラムのデータ型を見てみましょう

In [ ]:
df.dtypes

むむ、コラム=proftがflot64のはずなのに、'object'となっています（データ型がきまってないことを意味します)、データ型がきまらないのは、データに数字じゃないものがはいっているのか見てみます。

dfのコラム=profitを文字列としたときに、数値でないものを含んでいるものを、検索します。検索した結果は、行のindex番号のリストになります。

ここで、'str.contains(....)'とあるのは、正規表現で表される部分文字列を含んでいるものを選択します。

'[^0-9.-]'は、数値データを含まないものとマッチさせるための正規表現です

In [ ]:
non_numberic_profits = df.profit.str.contains('[^0-9.-]')
df.loc[non_numberic_profits].head()

In [ ]:
df.profit[non_numberic_profits]

最初の５行を見てみると、値が"N.A."(Not Availale)なものが複数みつかりました。さてNA以外にどのような値がふくまれているのか、set関数で、値の集合を得ます

In [ ]:
set(df.profit[non_numberic_profits])

N.Aのみでした。では何個ある？

In [ ]:
len(df.profit[non_numberic_profits])

N.Aの数はせいぜい全体の1.5%。もし、N.Aの分布が偏ってなければ無視してよいことんいなるので、N.Aの分布を、コラム=yearをx軸にした、ヒストグラムで見てみます。

In [ ]:
bin_sizes, _, _ = plt.hist(df.year[non_numberic_profits], bins=range(1955, 2006))

まあ、気にすることもないので、NAをコラム=profitに含む行をすべてを、抜いた新しいDataframeを作ります。そして、profitのデータ型を数値型に変換します（もともとデータ型不明のobjectとして読み込まれていたのでちゃんとfloat64とする変換が必要）

In [ ]:
df = df.loc[~non_numberic_profits]
df.profit = df.profit.apply(pd.to_numeric)

In [ ]:
len(df)

In [ ]:
df.dtypes

### Matplotlibを使った可視化の例

引きつき、fortun500のデータで分析を進めます。まずは、年度year毎にグループ化します。そしてグループ(year)毎に平均をとってプロットします

In [ ]:
group_by_year = df.loc[:, ['year', 'revenue', 'profit']].groupby('year')
avgs = group_by_year.mean()
x = avgs.index
y1 = avgs.profit
def plot(x, y, ax, title, y_label):
    ax.set_title(title)
    ax.set_ylabel(y_label)
    ax.plot(x, y)
    ax.margins(x=0, y=0)

In [ ]:
fig, ax = plt.subplots()
plot(x, y1, ax, 'Increase in mean Fortune 500 company profits from 1955 to 2005', 'Profit (millions)')

それでは、コラム=revenueはどうなっているでしょうか？

In [ ]:
y2 = avgs.revenue
fig, ax = plt.subplots()
plot(x, y2, ax, 'Increase in mean Fortune 500 company revenues from 1955 to 2005', 'Revenue (millions)')

それでは、profit,revenewを平均だけでなくて標準偏差を合わせてプロとしてみます。

In [ ]:
def plot_with_std(x, y, stds, ax, title, y_label):
    ax.fill_between(x, y - stds, y + stds, alpha=0.2)
    plot(x, y, ax, title, y_label)
fig, (ax1, ax2) = plt.subplots(ncols=2)
title = 'Increase in mean and std Fortune 500 company %s from 1955 to 2005'
stds1 = group_by_year.std().profit.values
stds2 = group_by_year.std().revenue.values
plot_with_std(x, y1.values, stds1, ax1, title % 'profits', 'Profit (millions)')
plot_with_std(x, y2.values, stds2, ax2, title % 'revenues', 'Revenue (millions)')
fig.set_size_inches(14, 4)
fig.tight_layout()

年とともに、標準偏差も広がっていくことがわかります。

## ChatGPTをつかった分析

講義では、ChatGPを使って、分析をしてみます。ChatGPTを使いながら、jupyter notebookにコードをコピーして動かしながら進めるというやり方を試してみます。

注意）ChatGPTのみを活用した、レポート課題の作成は、厳に禁止とします。

>次のCSVについて、分析しなさい。https://raw.githubusercontent.com/miwamasa/DataScience2024/main/notebooks/data/fortune500.csv

>このデータから、どのようなことが言えますか？

>年間売上高と当期純利益との相関関係について分析して。